
import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

if(params.fastq_folder == null) {
	params.out = "processFQ-20210406_test1"
} else {
	params.out = "processFQ-${params.fastq_folder}"
}

report {
    enabled = true
    file = "${params.out}/${params.timestamp}_report.html"
}


timeline {
	enabled = true
	file = "${params.out}/${params.timestamp}_timeline.html"
}

profiles {
    standard { includeConfig 'conf/quest.config' }
    quest { includeConfig 'conf/quest.config' }
}
