
import java.time.*
Date now = new Date() 

params {
	species_output = "species_check" 
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

report {
    enabled = true
    file = "${params.species_output}/${params.timestamp}_report.html"
}


timeline {
	enabled = true
	file = "${params.species_output}/${params.timestamp}_timeline.html"
}

profiles {
    standard { includeConfig 'conf/quest.config' }
    quest { includeConfig 'conf/quest.config' }
}
