
import java.time.*
Date now = new Date() 

params {
	day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

// if(params.fastq_folder == null) {
// 	params.out = "processFQ-20210406_test1"
// } else {
// 	params.out = "processFQ-${params.fastq_folder}"
// }

report {
    enabled = true
    file = "pipeline_info/${params.timestamp}_report.html"
}


timeline {
	enabled = true
	file = "pipeline_info/${params.timestamp}_timeline.html"
}

profiles {
    standard { includeConfig 'conf/quest.config' }
    quest { includeConfig 'conf/quest.config' }
    sp_check_only { includeConfig 'conf/sp_check_only.config' }
    trim_only { includeConfig 'conf/trim_only.config' }

}

singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/vast/eande106/singularity"
    pullTimeout = '20 min'
}

process.container = 'andersenlab/trim-fq:2022030115492810c8da'
