
process {
    // Set all environments to use the conda environment
    // conda = "/projects/b1059/software/conda_envs/trim-nf_env"
}

conda {
    enabled = true
}

params {
    raw_path="/projects/b1059/workflows/trim-fq-nf/test_data/raw" 
    fastq_folder="fq_run"
    processed_path="/projects/b1059/workflows/trim-fq-nf/test_data/processed"
}