/*
    Quest Configuration
*/


process {
    // Set all environments to use the conda environment
    conda = "env.yml"
}

conda {
    // Store conda environments in software/conda_envs
    cacheDir = "/projects/b1059/software/conda_envs"
}

executor {
    queueSize = 30
}

params {
    raw_path="/projects/b1059/data/fastq/WI/dna/raw"
    processed_path="/projects/b1059/data/fastq/WI/dna/processed"
}