/*
    Quest Configuration
*/

process {
    memory = 4.GB
    errorStrategy='retry'
    maxRetries=3
}

executor {
    queueSize=500
    submitRateLimit=10
}

params {
    raw_path="/projects/b1059/data/transfer/raw"
    processed_path="/projects/b1059/data/transfer/processed"
    genome_path="/projects/b1059/data"
}

singularity {
    cacheDir = "/projects/b1059/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}
