/*
    Quest Configuration
*/


process {
    conda = "/projects/b1059/software/conda_envs/trim-nf_env"
}



executor {
    queueSize = 30
}



params {
            
    fastq_path="/projects/b1059/data/fastq/WI/dna/raw"
    trimmed_path="/projects/b1059/data/fastq/WI/dna/processed"

    fastq_folder="test_data/fastq"
    trimmed_folder="${params.fastq_folder}_fastp"

}