/*
    Rockfish Configuration
*/

process {
    executor = "slurm"
    queue = "shared"
    clusterOptions = '-A eande106 -t 1:00:00 -e errlog.txt -N 1 -ntasks-per-node=1'
}

executor {
    queueSize=500
    submitRateLimit=10
}

params {
    raw_path="/vast/eande106/data/transfer/raw"
    processed_path="/vast/eande106/data/transfer/processed"
    genome_path="/vast/eande106/data"
}

singularity {
    cacheDir = "/vast/eande106/singularity"
    enabled = true
    autoMounts = true
    pullTimeout = '20 min'
}
